/* Use your own code or past solution for Great Idea Web Page CSS here! */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* ------------ PHONE LAYOUT --------- */
.container {
	margin: 0 0;
	width: 250px;
	/* border: 5px solid red; */
}

header{
    text-align: center;
}

header .head-logo img{
    padding: 8px;
    width: 45%;
}


header nav{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

header nav a{
   text-decoration: none;
   border-bottom: 1px solid gray;
   padding: 9px;
   margin: 1px;
   color: lightgray;
   font-size: 10px;
}

header nav a:first-child{
    border-top: 1px solid gray;
}

.header-bot {
    margin: 34px 0;
    text-align: center;
}

.header-bot button{
    margin-top: 9.5px;
    width: 85px;
    font-size: 8px;
    border: 1px solid gray;

}

.iod {
    font-size: 35px;
    line-height: 20px;
}

.mid-pg-accentimg {
    padding-top: 2px;
    max-width: 100%;
    max-height: 50px;
}

.mid-content {
    height: 485px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    margin: 30px 10px 0px;
    padding: 30px 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 8px;
}

address {
    margin: 20px 10px;
    padding: 0 0px;
    font-size: 8px;
}
address h3 {
    line-height: 0;
}

footer {
    text-align: center;
    font-size: 8px;
}


/* ------------ TABLET LAYOUT --------- */
@media(min-width: 500px){
    .container{
        margin: 0 0;
        width: 400px;
        background-color: yellow;
    }

    header {
        margin-top: 10px;
    }
    header .head-logo img{
        padding: 7px;
        width: 28%;
    }
    header nav{
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        margin-bottom: 30px;
    }
    header nav a{
        text-decoration: none;
        padding: 9px;
        margin: 1px;
        color: lightgray;
        font-size: 8px;
        border: none;
     }
     header nav a:first-child{
        border-top: none;
    }
    .mid-content {
        height: 300px;
        padding: 20px 0;
        line-height: 1;
    }

    .sec-head-tag {
        line-height: 0;
    }


    .mid-feat, .mid-about{
        width: 45%;
    }
    .mid-about {
        margin-left: 20px;
    }
    .mid-pg-accentimg {
        max-width: 100%;
        max-height: 85px;
    }

    .mid-serv, .mid-product, .mid-vision{
        width: 30%;
        margin-right: 10px;
    }
}


@media(min-width: 800px){
    .container{
        background-color: orange;
    }
}